
img.banner {
    width: 100%;
    margin:20px 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
}

.subtitulo {
    font-weight: bold;
}


div.sobreBarbearia {
    width: 100%;
}


section {
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.titulo{
    font-size: 2em;
    text-align: center;
    line-height: 2em;
    clear: left;
}

.titulo h2 {
    font-weight: bold;
}

p.pCentralizado {
    text-align: center;
    padding: 10px;
}

.utensilios {
    display: inlineblock;
    width: 25%;
    float: left;
}

.imgUtensilios {
   width: 80%;
   clear: left;
}

.descricao {
    width: 75%;
    display:inline-block;
    padding: 0;
}

.descricao p {
    padding: 10px;
    line-height: 1em;
}

.beneficios_e, .beneficios_d {
    padding:20px  0px;
    display: block;
    float: left;

}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.beneficios_e {
    width: 30%;
    padding: 20px;
    display: inline-block;
}

.beneficios_d {
    align-items: center;
    width:50%;
    padding: 20px 0;
}

ul li {
    line-height: 1.5em;
    list-style-type: none;
}

.beneficios_e li:before {
    content: "👉";
}

ul :first-child {
    font-weight: bold;
}

ul{
    list-style: disc;
}

.mapa {
    padding: 3em 0;
}

.mapa p {
    width:100%;
    margin: 0 0 3em;
    text-align: center;
}

.video {
    width: 560px;
    margin: 3em auto;
}
