main {
    display:flex; 
    align-items: center;
}

.container {
    margin: auto; 
    text-align: center; 
    border: none;
}

main div div {
    /*width:28%;*/
    width: 260px;
    border: 2px solid #000000;
    border-radius: 5%;
    display: block;
    float: left;
    margin: 10px;
    padding: 11px;
    align-content: center;
}

div.transformar {
    transition: width 0.7s;
}

main div div:hover {
    width: 280px;
    color: rgb(184, 69, 3);
    border-color: rgb(184, 69, 3);
}

p.produto {
    text-align: center;
    margin: 10px;
}

.destaque {
    font-size: 20pt;
    font-weight: bold;
}

/*
.fundoRodape {
    float: left;
    width: 100%;
    background-color: #000000;
}

footer div {
    text-align: center;
    float: left;
    width: 100%;
}

.copy {
    color: #FFFFFF;
    margin: 20px 0;
    font-size: 10px;
}

.centralizar {
    display: flex;
    justify-content: center;
}

footer img {
    display: block;
    text-align: center;
}
*/