body {
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Montserrat', sans-serif;    font-size: 12px;
    width: 940px;
    margin: auto;
    display:block-inline;
}

header {
    width: 100%;
}

div.menu {
    background-color: #CCCCCC;
    display: inline-block;
    width: 100%;
    margin: 0px; 
}

img.logo {
    width: 20%;
}

nav li {
    display: inline;
    position: relative;
    top:100px;
    font-size: 20pt;
    font-weight: bold;
    padding: 20px;
}

ul.opcoesMenu {
    display:inline-block;
    width:50%;
    position: relative;
    left: 150px;
}

a {
    text-decoration: none;
    color: #000000;
}

div ul, div img {
    padding:0px;
    display: block;
    width: 100%;
    float: left;
    box-sizing: border-box;
}

p {
    margin: 10px;
}

.fundoRodape {
    float: left;
    width: 100%;
    background-color: #000000;
}

footer div {
    text-align: center;
    float: left;
    width: 100%;
}

.copy {
    color: #FFFFFF;
    margin: 20px 0;
    font-size: 10px;
}

.centralizar {
    display: flex;
    justify-content: center;
}

footer img {
    display: block;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}